@model Actividad1.ControlDeCuentasDeUsuario.Models.ViewModels.UsuarioViewModel
@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Home" asp-action="CambiarContraseña">
    <div class="contenedor">
        <div class="datos">
            <h2>Cambiar contraseña</h2>
            <input hidden asp-for="Usuario.Id" value="@User.Claims.FirstOrDefault(x => x.Type == "Id").Value" />
            <input type="password" placeholder="Contraseña Actual" asp-for="Usuario.Password" /><br />
            <input type="password" placeholder="Nueva contraseña" asp-for="NuevaContraseña" /><br />
            <input type="password" placeholder="Confirmar contraseña" asp-for="ConfirmarContraseña" /><br />
            <p class="errores">
                @Html.ValidationSummary()
            </p>
            <input type="submit" class="boton" value="Confirmar" />
        </div>
    </div>
</form>