@model Actividad1.ControlDeCuentasDeUsuario.Models.Usuario;
@{
    Layout = "_Layout";
}

<form method="post" asp-action="IniciarSesion" asp-controller="Home">
  
    <div class="contenedor">

        <div class="datos">
            <h2>Iniciar sesión</h2>

            <input type="email" placeholder="Correo electrónico" asp-for="Email" /><br />
            <input type="password" placeholder="Contraseña" asp-for="Password" /><br />
            <div class="check">
                <input type="checkbox" id="mantenerSesion" name="mantenerSesion" value="True"/><label id="check" for="mantenerSesion">Mantener sesion iniciada</label><br />

            </div>
            <div class="errores">
                @Html.ValidationSummary()
            </div>
            <a href="~/Home/RecuperarContraseña">Haz olvidado la contraseña?</a><br />
            <input type="submit" class="boton" value="Iniciar Sesión" />

        </div>
        <div class="ir-registar">
            <h5>¿No tienes una cuenta?</h5><br />
            <a href="~/Home/Registrar">¡Regístrate!</a>
        </div>
    </div>
</form>
