@model Actividad1.ControlDeCuentasDeUsuario.Models.ViewModels.UsuarioViewModel
@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Home" asp-action="NuevaContraseña">
    <div class="contenedor">
        <div class="datos">
            <h2>Nueva contraseña</h2>
            <input type="email" placeholder="Email" required asp-for="Usuario.Email" /><br />
            <input type="text" placeholder="Código" required asp-for="Usuario.Codigo" /><br />
            <input type="password" placeholder="Nueva contraseña" required asp-for="NuevaContraseña" /><br />
            <input type="password" placeholder="Confirmar contraseña" required asp-for="ConfirmarContraseña" /><br />

            <input type="submit" class="boton" value="Confirmar" />
        </div>
        @Html.ValidationSummary()
    </div>
</form>

