@model Actividad1.ControlDeCuentasDeUsuario.Models.ViewModels.UsuarioViewModel;
@{
    Layout = "_Layout";
}

<form method="post" asp-action="Registrar" asp-controller="Home">
    <div class="contenedor">

        <div class="datos">
            <h2>Registrar</h2>
            <input type="text" placeholder="Nombre de Usuario" required asp-for="Usuario.Username" /><br />
            <input type="email" placeholder="Correo electrónico" required asp-for="Usuario.Email" /><br />
            <input type="password" placeholder="Elije una contraseña" required asp-for="Usuario.Password" /><br />
            <input type="password" placeholder="Confirmar contraseña" required asp-for="ConfirmarContraseña" /><br />

            <input type="submit" value="Registrar" class="boton" />

        </div>
        @Html.ValidationSummary()
    </div>
</form>
