
@{
   ViewData["Title"] = "Index";
}

<h1>Unidad 4</h1>
<h2>Autenticacion y autorizacion</h2>
<p>
    Pagina principal<br />
    Usuario conectado: @User.Identity.Name 
    <a href="~/Home/CerrarSesion"> (Cerrar Sesión)</a>

    <p>
        <ol>

            <li>Lista de calificaciones</li>
            <li>Kardex</li>
            <li>Horario</li>


            @if (User.IsInRole("Maestro"))
            {
                <li>Capturar calificaciones</li>
                <li>Capturar alumnos</li>
            }

        </ol>
    
    
    </p>

